<html>
  <head>
    <title>Index page</title>
  </head>
  <body>
    <% pages.each do |page| %>
      <p><a href="/pages/<%= page.slug %>">/pages/<%= page.slug %></a>: <%= page.content %></p>
    <% end %>
  </body>
</html>
